.custom-nav {
    background-color: #0d6efd;
}
.custom-nav .nav-link {
    color: white;
    font-size: 20px;
}
body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}
.custom-img {
    object-fit: contain;
    width: 100%;
}
footer {
  background:lightblue;
  padding: 20px;
  margin-top: 30px;
  width: 90vw;
  margin-right: 30px;
    margin-left: 60px;
    padding: 10px 10px;
    height: 250px;
    border-radius: 12px;

}
.cover {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid white;
}
.adres {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sm {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.sm-icon {
  display: flex;
  gap: 40px;
}
.modalform {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  width: 200px;
}
#b-input {
  border: 1px solid blue;
  border-radius: 10px;
  text-indent: 10px;
  padding: 5px 10px;
}
select {
  border: 1px solid blue;
  border-radius: 10px;
  padding: 5px 10px;
}
footer {
  background: blue;
}
.logo{
width: 35px;
height: 35px;
border: 2px solid white;
border-radius: 50%;
}
